<head>
  <title>authentificate</title>
</head>

<body>
  <h1 style="margin-bottom: 60px; text-align: center; font-size: 50px">Salut</h1>
  {{#if currentUser}} {{> dashboard}} {{> cars}} {{else}} {{> register}} {{> login}} {{/if}}
</body>

<template name="register">
  <form>

    <div id="login" class="text-center">
      <div class="container col-md-offset-4 ">

        <div class="row">
          <div class="titleLogin col-md-5 wow fadeInLeft">
            <h1> Inscription <br/> <small> Merci de renseigner vos informations </small></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group wow fadeInRight" data-wow-delay="0.3s">
              <label for="Pseudo">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" required/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group wow fadeInRight" data-wow-delay="0.5s">
              <label for="Password">Mot de passe</label>
              <input type="password" class="form-control" id="password" placeholder="Mot de passe" required/>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class=" col-md-5 wow fadeInRight" data-wow-delay="0.7s">
            <input type="submit" class="btn btn-primary btnValide" value="Créer le compte" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <br><br>
</template>

<template name="login">
  <form>

    <div id="connect">
      <div class="container  col-md-offset-4">
        <div class="row">
          <div class="titleConnect col-md-5 wow fadeInUp" data-wow-delay="0.3s">
            <h1> Authentifiez-vous <br/> <small> Accès à votre espace personnel </small></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group wow fadeInRight" data-wow-delay="0.3s">
              <label for="Pseudo" class="media-body">Pseudo</label>
              <input type="email" class="form-control" id="emailLogin" placeholder="Email" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group wow fadeInLeft" data-wow-delay="0.3s">
              <label for="Password">Mot de passe</label>
              <input type="password" class="form-control" id="passwordLogin" placeholder="Mot de passe" required>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-5 wow fadeInDown" data-wow-delay="0.3s">
            <input type="submit" class="btn btn-primary btnValide" value="S'authentifier" />
          </div>
        </div>
      </div>
    </div>
  </form>

</template>

<template name="dashboard">
  <div class="dashboard">
  <h3>Vous êtes connecté!{{currentUser.services.password}}</h3>
  {{userName}}
  <p><a href="#" class="logout">Se déconnecter</a></p>
</div>

</template>

<template name="cars">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Marque</th>
        <th>Couleur</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>

      {{#each cars}}
      <tr>
        <th>#</th>
        <th>{{ marque }}</th>
        <th>{{ couleur }}</th>
        <th>{{ prix }}</th>
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>